* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}




/* UTILITIES */

.padd-top-btm-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* TEXT STYLES */
.section-title-style {
  font-size: 48px;
  font-weight: 700;
}

.white {
  color: white;
}

.darkgreen {
  color: #2c3e50;
}

.bkg-darkgreen {
  background: #2c3e50;
}

.bkg-watergreen {
  background: #1abc9c;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

/* DIVIDER */
.divider {
  margin-bottom: 10px;
}

.divider-line,
.divider-icon {
  display: inline-block;
}

.divider-line {
  background: white;
  width: 100%;
  max-width: 140px;
  height: 2px;
  border-radius: 1rem;
  border-color: #2c3e50;
  margin-bottom: 8px;
}

.divider-line-darkgreen {
  background: #2c3e50;
}

.divider-icon {
  font-size: 32px;
  padding-left: 15px;
  padding-right: 15px;
}

/* STYLES */
.navbar {
  margin-bottom: 0;
}

/* JUMBOTRON */

.jumbotron img {
  height: 255px;
}

.jumbotron h1 {
  font-size: 64px;
  font-weight: 700;
}

.jumbotron h3 {
  font-size: 24px;
}

/* PORTFOLIO */


.portfolio img {
  max-width: 100%;
}

.portfolio .item-box {
  border-radius: 100%;
  max-width: 100%;
  margin-bottom: 30px;
  border-radius: 7px;
  overflow: hidden;
}

.portfolio .divider {
  margin-bottom: 30px;
}

/* ABOUT */

.about p {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}

.about .btn {
  background-color: inherit;
  color: white;
  border: 2px solid white;
  padding: 15px;
}

.about .btn:hover {
  background: white;
  color: #2c3e50;
  border: 2px solid white;
}

/* FORM STYLES */
input[type=name],
input[type=email],
input[type=text],
textarea.form-control {
  height: 80px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  font-size: 24px;
  padding-bottom: 20px;
}

textarea.form-control {
  height: 200px;
}

.large-form .btn {
  border: 2px solid #1abc9c;
  padding: 15px 30px;
}

.large-form .btn:hover {
  background: #159a80;
  border: 2px solid #159a80;
}


/* RESPONSIVE */
@media all and (max-width: 500px) {
  .divider-line {
    max-width: 50px;
  }
}

@media all and (max-width: 500px) {
  .jumbotron h1,
  .section-title-style {
    font-size: 40px;
  }
}
